[submodule "bundle/pyplugin"]
	path = bundle/pyplugin
	url = https://github.com/fengidri/pyplugin
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
